# Environment & Secrets
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.db
*.sqlite3

# Node / React Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
